<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/static/images/ai.png">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div class="header">
            <div class="header-logo">
                <a href="{{ url_for('welcome_page') }}"><img src="/static/images/logo.png" alt=""></a>
            </div>
            <div class="header-user-icon">
                <div class="segment">
                    <img src="/static/images/Ellipse.png" alt="">
                    <p>{{user.name}}</p>
                </div>
                <a href="{{ url_for('logout') }}">
                    <div class="segment">
                            <img src="/static/images/logout.png" alt="">
                            <p class="logout">Logout</p>
                    </div>
                </a>
                
                
            </div>
        </div>
        <div class="chatbox-container">
            <div class="left-container">
                <div class="chatbox__support">
                    <div class="chatbox__messages">
                        <div></div>
                    </div>
                    <div class="chatbox__footer">
                        <!-- <form action="" method="POST"> -->
                            <input type="text" name="message" placeholder="Ask or search anything.....">
                        <!-- </form> -->
                        <div class="chatbox-icon">
                            <div class="chatbox-prompt">
                                <img src="/static/images/prompt.png" alt="">
                                <p>Browse Prompts</p>
                            </div>
                            <button class="chatbox__send--footer send__button">
                                <img src="/static/images/send.png" alt="">
                            </button>
                        </div>
                        
                    </div>
                </div>
                
                <div class="chatbox__button">
                    <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
                </div>
            </div>
            <div class="right-container">
                <h3>Chat History</h3>
                <div class="chat-history">
                    {% for message in messages %}
                    <div class="question">
                        <img src="/static/images/Ellipse.png" alt="">
                        <p>{{message.message}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>